.red{
    background-color:red;
}

.green{
    background-color:green;
}

.blue{
    background-color:blue;
}

.orange{
    background-color:orange;
}

.black{
    background-color:black;
}

.yellow{
    background-color:yellow;
}

.purple{
    background-color:purple;
}

.magenta{
    background-color:magenta;
}

.skyblue{
    background-color:skyblue;
}

.gray{
    background-color:gray;
}

.gold{
    background-color:gold;
}

.aqua{
    background-color:aqua;
}

.margin-top-100{
    margin-top: 100px;
}