<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bismillah Bootstrap</title>
    <link href="../bootstrap_3_3_6/css/bootstrap.min.css" rel="stylesheet">
    <link href="../thm-css/style.css" rel="stylesheet">
</head>
<body>
<h1>Height Sizing</h1>
<form role="form">
    <div class="form-group">
        <label for="inputdefault">Default input</label>
        <input class="form-control" id="inputdefault" type="text">
    </div>
    <div class="form-group">
        <label for="inputlg">input-lg</label>
        <input class="form-control input-sm" id="inputlg" type="text">
    </div>
    <div class="form-group">
        <label for="inputsm">input-sm</label>
        <input class="form-control input-sm" id="inputsm" type="text">
    </div>
</form>


<h1>From For Travel</h1>
<div class="container">
    <form class="form-inline">
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="direction">Return
            </label>
            <label class="radio-inline">
                <input type="radio" name="direction">One Way
            </label>
            <label class="radio-inline">
                <input type="radio" name="direction">Multi Destination
            </label>
        </div>

        <div class="form-group">
            <input class="form-control input-sm" type="text">
        </div>
        <div class="form-group">
            <input class="form-control input-sm" type="text">
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group ">
                    <select class="form-control input-sm">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select class="form-control" id="sel1">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="direction">Return
            </label>
            <label class="radio-inline">
                <input type="radio" name="direction">One Way
            </label>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input class="form-control input-sm" type="text">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <input class="form-control input-sm" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="sel1">Select list:</label>
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                    </select>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>


<script src="../bootstrap_3_3_6/js/jquery-1.11.1.min.js"></script>
<script src="../bootstrap_3_3_6/js/bootstrap.min.js"></script>
</body>
</html>