<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bismillah Bootstrap</title>
    <link href="../bootstrap_3_3_6/css/bootstrap.min.css" rel="stylesheet">
    <link href="../thm-css/style.css" rel="stylesheet">
    <script src="../bootstrap_3_3_6/js/jquery-1.11.1.min.js"></script>
    <script src="../bootstrap_3_3_6/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h1>12 Column</h1>
    <div class="row">
        <div class="col-sm-1 red">1</div>
        <div class="col-sm-1 green">2</div>
        <div class="col-sm-1 blue">3</div>
        <div class="col-sm-1 orange">4</div>
        <div class="col-sm-1 black">5</div>
        <div class="col-sm-1 yellow">6</div>
        <div class="col-sm-1 purple">7</div>
        <div class="col-sm-1 magenta">8</div>
        <div class="col-sm-1 skyblue">9</div>
        <div class="col-sm-1 gray">10</div>
        <div class="col-sm-1 gold">11</div>
        <div class="col-sm-1 aqua">12</div>
    </div>
    <div class="row">
        <div class="col-sm-1 aqua">1</div>
        <div class="col-sm-1 gold">2</div>
        <div class="col-sm-1 gray">3</div>
        <div class="col-sm-1 skyblue">4</div>
        <div class="col-sm-1 magenta">5</div>
        <div class="col-sm-1 purple">6</div>
        <div class="col-sm-1 yellow">7</div>
        <div class="col-sm-1 black">8</div>
        <div class="col-sm-1 orange">9</div>
        <div class="col-sm-1 blue">10</div>
        <div class="col-sm-1 green">11</div>
        <div class="col-sm-1 red">12</div>
    </div>

    <h1 class="margin-top-100">2 then 1 Column</h1>
    <div class="row">
        <div class="col-sm-6 red">6</div>
        <div class="col-sm-6 green">6</div>
    </div>
    <div class="row">
        <div class="col-sm-12 yellow">12</div>
    </div>

</div>

</body>
</html>