<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bismillah Bootstrap</title>
    <link href="../bootstrap_3_3_6/css/bootstrap.min.css" rel="stylesheet">
    <link href="../thm-css/style.css" rel="stylesheet">
</head>
<body>
<h1>Basic</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        Head
    </div>
    <div class="panel-body">A Basic Panel</div>
</div>






<script src="../bootstrap_3_3_6/js/jquery-1.11.1.min.js"></script>
<script src="../bootstrap_3_3_6/js/bootstrap.min.js"></script>
</body>
</html>