<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bismillah Bootstrap</title>
    <link href="../bootstrap_3_3_6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1>Basic Thumbnail</h1>
    <div class="row">
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="../images/125x125.jpg" alt="125x125">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="../images/125x125.jpg" alt="125x125">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="../images/125x125.jpg" alt="125x125">
            </a>
        </div>
        <div class="col-xs-3">
            <a href="#" class="thumbnail">
                <img src="../images/125x125.jpg" alt="125x125">
            </a>
        </div>
    </div>
</div>






<script src="../bootstrap_3_3_6/js/jquery-1.11.1.min.js"></script>
<script src="../bootstrap_3_3_6/js/bootstrap.min.js"></script>
</body>
</html>