<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bismillah Bootstrap</title>
    <link href="../bootstrap_3_3_6/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h2>youtube 16:9 Responsive Aspect Ratio</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
            </div>
        </div>

        <div class="col-sm-6">
            <h2>youtube 4:3 Responsive Aspect Ratio</h2>
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="//www.youtube.com/embed/ePbKGoIGAXY"></iframe>
            </div>
        </div>
    </div>
</div>






<script src="../bootstrap_3_3_6/js/jquery-1.11.1.min.js"></script>
<script src="../bootstrap_3_3_6/js/bootstrap.min.js"></script>
</body>
</html>